<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Prometheus HTTP SD Targets</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
 $('#delTargetModal').on('show.bs.modal', function (event) {
  relTarget = $(event.relatedTarget);
  var prom = relTarget.data('valprom');
  console.log(prom)
  var job = relTarget.data('valjob')
  var labels = relTarget.data('vallabels')
  var targets = relTarget.data('valtarget')
  var modal = $(this);
  modal.find('#delTargetProm').val(prom);
  modal.find('#delTargetJob').val(job);
  modal.find('#delTargetLabels').val(labels);
  modal.find('#delTargetTarget').val(targets);
});
 $('#addTargetsModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var prom = button.data('valprom');
  var job = button.data('valjob')
  var labels = button.data('vallabels')
  var modal = $(this);
  modal.find('#addTargetProm').val(prom);
  modal.find('#addTargetJob').val(job);
  modal.find('#addTargetLabels').val(labels);
});
 $('#confirmDelTarget').click(function(){
   var paras = { prom: $('#delTargetProm').val(),
       job: $('#delTargetJob').val(),
       labels: $('#delTargetLabels').val().toString(),
       targets: $('#delTargetTarget').val()}
$.ajax(
                 {
                 type: 'post',
                 url: 'http://10.60.195.198/prom/api/v1/del/targets',
                 data: JSON.stringify(paras),
                 dataType: 'json',
                 contentType: 'application/json,charset=utf-8',
                 success: function(resp,status){ alert("Del Target " + status);$('#delTargetModal').modal('hide');window.location.reload(true);}
})});
 $('#confirmAddTargets').click(function(){
   var paras = { prom: $('#addTargetProm').val(),
       job: $('#addTargetJob').val(),
       labels: $('#addTargetLabels').val().toString(),
       targets: $('#addTargetTargets').val()}
$.ajax(
                 {
                 type: 'post',
                 url: 'http://prometheus_http_sd/api/v1/add/targets',
                 data: JSON.stringify(paras),
                 dataType: 'json',
                 contentType: 'application/json,charset=utf-8',
                 success: function(resp,status){ alert("Add Target " + status);$('#addTargetsModal').modal('hide');window.location.reload(true);}
})});
});
</script>


<h1 class="align-middle text-center">Prometheus HTTP SD Targets</h1>
<table class="table table-bordered table-hover align-middle border border-primary">
<thead>
<tr>
<th scope="col" class="align-middle text-center">prom</th>
<th scope="col" class="align-middle text-center">job</th>
<th scope="col" class="align-middle text-center">labels</th>
<th scope="col" class="align-middle text-center">targets</th>
</tr>
</thead>
<tbody>
{% for result in results %}
{% for labels in result.labels %}
<tr>
<td scope="row" class="align-middle text-center">{{ result.prom }}</td>
<td class="align-middle text-center">{{ labels.split(';')[0] }}</td>
<td class="align-middle text-left">
{% for label in labels.split(';')[1].split(',') %}
        <li><span>{{ label }}</span></li>
{% endfor %}
</td>
<td class="align-middle text-left">
{% if labels.split(';')[2] != '' %}
{% for target in labels.split(';')[2].split(',') %}
        <li><span>{{ target }}</span><a href="#" data-toggle="modal" data-target="#delTargetModal" data-valprom="{{ result.prom }}" data-valjob="{{ labels.split(';')[0] }}" data-vallabels="{{ labels.split(';')[1] }}" data-valtarget="{{ target }}"> [Del] </a></li>
{% endfor %}
{% endif %}
<li><a href="#" data-toggle="modal" data-target="#addTargetsModal" data-valprom="{{ result.prom }}" data-valjob="{{ labels.split(';')[0] }}" data-vallabels="{{ labels.split(';')[1] }}"> [Add] </button></li>
</td>
</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
<div class="modal fade" id="delTargetModal" tabindex="-1" aria-labelledby="delTargetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delTargetModalLabel">Delete Target</h5>
        <a class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="delTargetProm" class="col-form-label">Prom:</label>
            <input type="text" class="form-control" id="delTargetProm">
          </div>
          <div class="form-group">
            <label for="delTargetJob" class="col-form-label">Job:</label>
            <input type="text" class="form-control" id="delTargetJob">
          </div>
          <div class="form-group">
            <label for="delTargetLabels" class="col-form-label">Labels:</label>
            <input type="text" class="form-control" id="delTargetLabels">
          </div>
          <div class="form-group">
            <label for="delTargetTarget" class="col-form-label">Target:</label>
            <input type="text" class="form-control" id="delTargetTarget">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">[Close]</a>
        <a href="#" id="confirmDelTarget">[Delete Target]</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addTargetsModal" tabindex="-1" aria-labelledby="addTargetsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTargetsModalLabel">Add Targets</h5>
        <a class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="addTargetProm" class="col-form-label">Prom</label>
            <input type="text" class="form-control" id="addTargetProm">
          </div>
          <div class="form-group">
            <label for="addTargetJob" class="col-form-label">Job</label>
            <input type="text" class="form-control" id="addTargetJob">
          </div>
          <div class="form-group">
            <label for="addTargetLabels" class="col-form-label">Labels:key=value pairs seprates by comma</label>
            <input type="text" class="form-control" id="addTargetLabels">
          </div>
          <div class="form-group">
            <label for="addTargetTargets" class="col-form-label">Targets ip:port seprates by comma</label>
            <input type="text" class="form-control" id="addTargetTargets">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">[Close]</a>
        <a href="#" id="confirmAddTargets" >[Add Targets]</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
